body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    padding: 20px;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.regular-text {
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Courier New';
}

/* оболочка для добавления севлева направо */
.wrapper {
    display: flex;
    align-items: center;
}

#coordinates-canvas {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}

.form-label {
    display: inline-block;
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New';
    margin-right: 10px;
    color: white;
}

.radios {
    color: white;
}

.checkboxes {
    color: white;
}

.form-row .form-input {
    flex: 1;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Courier New';
}

.button {
    background-color: #1a237e;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Courier New';
    font-weight: bold;
    margin-top: 20px;
}



.table-container {
    margin-top: 30px;
    max-height: 185px; /* Высота контейнера таблицы */
    overflow: auto; /* Прокрутка при необходимости */
}



.table-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #1a237e; /* Цвет фона ползунка */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #3949ab; /* Цвет ползунка */
    border-radius: 5px; /* Округление углов ползунка */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #5c6bc0; /* Цвет ползунка при наведении */
}



#results-table {
    border-collapse: collapse;
    font-family: 'Courier New';
    font-size: 18px;
    color: white;
}

#results-table th {
    background-color: #1a237e;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#results-table td {
    background-color: #3f51b5;
    padding: 8px;
    text-align: center;
}

#results-table tbody tr:nth-child(2n) {
    background-color: #3949ab;
}

#results-table tbody tr:nth-child(2n+1) {
    background-color: #303f9f;
}

#results-table th,
#results-table td {
    border: 1px solid #1a237e;
}

.clear-table-button {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}



/* Стили для h:dataTable */
.table-container table {
    border-collapse: collapse;
    width: 100%;
}

.table-container th, .table-container td {
    border: 1px solid #1a237e;
    padding: 8px;
    text-align: center;
    font-family: 'Courier New';
    font-size: 18px;
    color: white;
}

.table-container th {
    background-color: #1a237e;
    color: #fff;
    font-weight: bold;
}

.table-container tbody tr:nth-child(2n) {
    background-color: #3949ab;
}

.table-container tbody tr:nth-child(2n+1) {
    background-color: #303f9f;
}

/* Стили для прокрутки */
.table-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #1a237e;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #3949ab;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #5c6bc0;
}