body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    padding: 20px;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.regular-text {
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Courier New';
}

.wrapper {
    display: flex;
    align-items: center;
}

.button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Courier New';
    font-weight: bold;
    margin-top: 20px;
}

.teleport-button {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ui-clock{
    border-radius: 15px !important;
    font-family: 'Courier New' !important;
    font-weight: bold !important;
    font-size: 90px !important;
    height: 120px !important;
    width: auto !important;
}

.ui-analog-clock {
    width: 200px;
}